{% extends 'base.html' %}

{% block content %}
  <h1>{{ movie.title }}</h1>
  <p>
    <span id="mySpan" data-movieId="{{ movie.pk }}">
    {% for genre in movie.genres.all %}
    {{ genre.name }}
    {% endfor %}
    </span>
  </p>
  <p>popularity : {{ movie.popularity }}</p>
  <p>vote average : {{ movie.vote_average }}</p>
  <p>overview : {{ movie.overview }}</p>
  <img src="{{ movie.poster_path }}" alt="">
  <hr>
  <h3>추천 영화 목록</h3>
  <div class="container">
    <div id="rMovies" class="row">
    
    </div>
  </div>
  <script>
  const mySpan = document.querySelector('#mySpan')
  const movieId = mySpan.dataset.movieid
  
  axios({
    url: `/movies/recommended/${ movieId }`,
    data: "GET",
  }).then((response) => {
    console.log(response.data)
    response.data.forEach((movie) => {
      const movieList = document.querySelector('#rMovies')
      const movieDiv = document.createElement('div')
      movieDiv.setAttribute('class', 'col-3')
      movieDiv.classList.add('rMovie')

      const MovieHTML = `
        <h7>${ movie.fields.title }</h7><br>
        <img src="${ movie.fields.poster_path }" width='100px' height='200px'></img>
      `
      movieDiv.innerHTML = MovieHTML
      movieList.appendChild(movieDiv)
    })
  })

  </script>
  <style>
  .rMovie{ 
    margin-right : auto;
  }
  </style> 
{% endblock %}
