{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
{% comment %} 요청이 signup이라면? -> signup form {% endcomment %}
{% comment %} 요청이 login이라면? -> login form {% endcomment %}
{% comment %} 요청이 update이라면? -> update form {% endcomment %}
{% if request.resolver_match.url_name == 'signup' %}
    <h1>SIGNUP</h1>
{% elif request.resolver_match.url_name == 'login'%}
    <h1>LOGIN</h1>
{% elif request.resolver_match.url_name == 'update'%}
    <h1>UPDATE</h1>
{% else %}
    <h1>CHANGE PASSWORD</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit="submit" reset="Cancel" %}{% endbuttons %}
</form>

{% endblock content %}