/* 아래 코드는 수정하지 마세요. */
body {
  font-family: Arial;
  width: 800px;
}

section {
  float: left;
  margin-left: 4px;
}

aside { 
  float: right;
  margin-right: 4px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* 여기서부터 작성하세요. */
/* 모든 스타일 요소를 ***클래스***로 만들어 작성 후 사용합니다. */

/* 1. article 태그는 white로 나머지 시멘틱 태그는 lightgrey로 배경색을 바꿔주세요. */

.article1, .article2 {
  background-color: white;
}

.header, .nav, .footer, .section, .aside {
  background-color: lightgray;
}

/* 2. header, nav, footer 태그의 margin을 4px로 만들어주세요. */

/* 3. header, nav, footer 태그의 padding을 4px로 만들어주세요. */

.header, .nav, .footer {
  margin: 4px;
  padding: 4px;
}

/* 4. h1 태그를 수평 중앙 정렬 시켜주세요. */

.header {
  text-align: center;
}

/* 5. section 태그는 width 490px height 300px, 
   aside 태그는 width 280px height 300px로 만들어주세요.*/

.section {
    width: 490px;
    height: 300px;
}
  
.aside {
    width: 280px;
    height: 300px;
}

/* 6. 모든 semantic 태그의 border 두께를 1px, 실선, 검은색으로 만들어주세요. */

/* 7. 모든 semantic 태그의 border 모서리 반경을 4px로 만들어주세요. */

.header, .nav, .footer, .section, .aside, .article1, .article2 {
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
}

